DEBUG=false
SECRET_KEY="*z$p1cgq6nlh4+rcyk#rn#@+bms)748jf44z6m+*z$!sq5of)e"

DB_NAME=sup
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

VK_API_VERSION=5.120
VK_USER_TK="" user access_token
VK_GROUP_TK="" group access_token
VK_GROUP_ID=208045451
VK_CALLBACK_SECRET_KEY=""секретка из callback api группы
VK_CALLBACK_CONFIRMATION_CODE="" код подтверждения из callback api группы
VK_APP_ID="6121396"
VK_GROUP_OWNER_ID="672645458"

CURRENT_HALF="1"
ALLOWED_HOSTS="127.0.0.1,localhost"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000,http://localhost:8000"
YADISK_TOKEN=""
CHANGE_REPORT_DAYS=365