name: CI
on:
  push:
    branches:
      - master
jobs:
  build_and_pub:
    runs-on: [ubuntu-latest]
    env:
      TOKEN: ${{ secrets.DOCKER_TOKEN }}
      LOGIN: ${{ secrets.DOCKER_LOGIN }}
      IMAGE: ${{ secrets.DOCKER_IMAGE }}
    steps:
      - name: Login to docker
        run: echo $TOKEN | docker login -u $LOGIN --password-stdin
      - uses: actions/checkout@master
      - name: Build & push image
        run:
          MAIN_TAG=$(cat ./version)
          && docker buildx build --push -t $LOGIN/$IMAGE:$MAIN_TAG -t $LOGIN/$IMAGE:latest .